@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Roboto Mono", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0;
}

section {
  position: relative;
  float: left;
  width: 100%;
}

.next-button {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  padding: 2rem;
  color: #1a237e;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.next-button:hover {
  color: #00bfa5;
  cursor: pointer;
}

.next-button .material-icons {
  font-size: 3.5rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
