@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
}

section {
  position: relative;
}

.next-button {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  padding: 1rem;
  color: #1a237e;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

.next-button:hover {
  color: #00bfa5;
  cursor: pointer;
}

.next-button .material-icons {
  font-size: 3.5rem;
}
