.work {
  width: 100%;
  padding-top: 8rem;
  min-height: 100vh;
}

.work .top {
  background: #f1f1f2;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  z-index: -100;
}

.work .wrap h1 {
  text-align: center;
  color: #1a237e;
  font-size: 3rem;
}

.work .wrap-wide {
  position: relative;
  max-width: 1296px;
  margin: 0 auto;
}

.work .wrap-wide .block {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 4rem;
}

.work .wrap-wide .block.reverse {
  flex-direction: row-reverse;
}

/* overlay */
.work .wrap-wide .block .overlay {
  position: absolute;
  content: "";
  height: 100%;
  background: #fff;
  top: 0;
}
.work .wrap-wide .block.normal .overlay {
  right: 0;
}
.work .wrap-wide .block.reverse .overlay {
  left: 0;
}

/* image */
.work .wrap-wide .block img {
  max-width: 36%;
}

.work .wrap-wide .block .info {
  width: 100%;
  padding: 0 2rem;
}

/* info block */
.work .wrap-wide .block .info .title {
  word-wrap: break-word;
}

.work .wrap-wide .block .info .title,
.work .wrap-wide .block .info .type {
  margin: 0;
  font-size: 2rem;
  line-height: 2.5rem;
}

.work .wrap-wide .block .info .title,
.work .wrap-wide .block .info .description {
  color: #1a237e;
}

.work .wrap-wide .block .info .type {
  color: #00bfa5;
  margin-bottom: 2rem;
}

.work .wrap-wide .block .info .description {
  margin: 0;
  margin-bottom: 2rem;
}

/* mobile */
@media only screen and (max-width: 700px) {
  .work .wrap-wide .block {
    flex-direction: column !important;
  }

  .work .wrap-wide .block img {
    max-width: 100vw;
    width: 400px;
    margin: 0;
  }
}
